#userName,#passWord,#confirm,#image-upload,#firstName,#lastname,#email{
	display:inline;
	font-size:100%;
	border:2px solid black;
	border-radius:25px;
	text-align:center;
	margin-bottom:25px;
}
.login,.register,.profile{
	position:relative;
	top:20px;
	text-align:center;
	display:block;
	border:2px solid black;
	padding:20px;
	background:lightgreen;
	border-radius:25px;
}
input[type="checkbox"]{
	margin-bottom:20px;
}
.first,.last,.pass,.confirmpass,.emailid,.user,.image{
	display:flex;
	justify-content:space-between;
}
.has-search .form-control {
	padding-left: 2.375rem;
}
.has-search .form-control-feedback {
	position: absolute;
	z-index: 2;
	display: block;
	width: 2.375rem;
	height: 2.375rem;
	line-height: 2.375rem;
	text-align: center;
	pointer-events: none;
	color: #aaa;
}
.navbar{
	background-image:linear-gradient(to bottom right,darkblue,black,red);
	border:2px solid black;
	border-radius:25px;
}
input[type=search]::-webkit-search-cancel-button {
	-webkit-appearance: searchfield-cancel-button;
}
.post{
	position:relative;
	top:20px;
	display:block;
	border:2px solid black;
	padding:20px;
	background:lightgreen;
	border-radius:25px;
}
hr{
	background:black;
}
.prof{
	border:2px solid black;
	border-radius:25px;
	margin:25px;
	padding:5px;
}
.topicName{
	text-align:right;
}
.pagination{
	display:flex;
	justify-content:center;
}
.hidden{
	display:none;
}